* {
    box-sizing: border-box;
}

#gallery img {
    width: 300px;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid lightskyblue;

}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: gray;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: black;
    color: lightskyblue;
    border-bottom: 4px solid gold;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
    gap: 16px;
}
